
head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
      
html 

   h1  Welcome to E-game online shop
   div.header
       p.logo E-GAMES
       a(class='login', href='/login') Login
       a(class='register', href='/register') Register



   div.footer
       p.footer_text Copyright:2021 xuanhaowang   



//- set script here is to ensure all elements loaded
style 
    include main.css          